body
{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul
{
    padding-left: 30px;
}



.board-row:after
{
    clear: both;
    content: "";
    display: table;
}

.game
{
    display: flex;
    flex-direction: row;
}

.game-info
{
    margin-left: 20px;
}

.highlightedSquare
{
    background: #777;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.highLightedSquare:focus
{
    outline: none;
}

.kbd-navigation .highLightedSquare:focus
{
    background: #ddd;
}

.kbd-navigation .square:focus
{
    background: #ddd;
}

.square
{
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus
{
    outline: none;
}

.status
{
    margin-bottom: 10px;
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }













